* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

#container {
    display: flex;
    flex-direction: column;
}

.pg_container {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playground {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    width: 100vw;
    height: 90vh;
}

.square {
    background-color: #3e8e41;
    width: 10vw;
    height: 9vh;
}

#ctrl {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: #aaa;
}

#ctrlBtn {
    font-size: large;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 9px #999;
}

#ctrlBtn:hover {
    background-color: #3e8e41;
}

#ctrlBtn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.snake {
    background-size: cover;
    background-image: url('./assets/snake.jpg') !important;
    background-position: center;
}

.food {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('./assets/food.png') !important;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.footer a span {
    height: 1em;
    padding-right: 0.5rem;
}